*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}


html{
scroll-behavior:smooth;
}


body{

background:#0f172a;
color:white;

}




header{

position:fixed;
width:100%;
top:0;

background:#0f172acc;
backdrop-filter:blur(10px);

z-index:100;

}



nav{

display:flex;
justify-content:space-between;
align-items:center;

max-width:1100px;
margin:auto;

padding:20px;

}



.logo{

font-size:30px;
font-weight:700;

}


.logo span{

color:#38bdf8;

}




nav ul{

display:flex;
gap:30px;

list-style:none;

}



nav a{

color:white;
text-decoration:none;

}




.hamburger{

display:none;
font-size:25px;

}




.hero{

min-height:100vh;

display:flex;
align-items:center;
justify-content:center;

gap:50px;

max-width:1100px;

margin:auto;

}



.hero-text{

width:50%;

}



.hero h1{

font-size:45px;

}


.hero h1 span{

color:#38bdf8;

}


.hero h2{

margin:15px 0;

color:#94a3b8;

}


.hero p{

line-height:1.8;

}




.hero-image img{

width:300px;
height:300px;

object-fit:cover;

border-radius:50%;

border:5px solid #38bdf8;

}





.button{

margin-top:30px;

}



.button a{

padding:12px 25px;

background:#38bdf8;

color:#0f172a;

border-radius:30px;

text-decoration:none;

margin-right:10px;

font-weight:600;

}



.button .outline{

background:none;

border:1px solid #38bdf8;

color:white;

}




section{

padding:100px 10%;

}



.title{

text-align:center;

font-size:35px;

margin-bottom:40px;

}





.about-content{

max-width:900px;
margin:auto;

line-height:1.8;

}



.timeline{

display:flex;
gap:20px;

margin-top:40px;

}



.timeline div{

background:#1e293b;

padding:20px;

border-radius:15px;

flex:1;

}





.skills{

display:flex;
gap:30px;
justify-content:center;

}



.card{

background:#1e293b;

padding:30px;

text-align:center;

border-radius:20px;

width:300px;

}



.card i{

font-size:40px;

color:#38bdf8;

}





.projects{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:30px;

}




.project-card{

background:#1e293b;

border-radius:20px;

overflow:hidden;

}



.project-card img{

width:100%;

}



.project-card div{

padding:20px;

}




.contact-box{

display:flex;

justify-content:center;

gap:30px;

}



.contact-box a{

color:white;

font-size:20px;

}





footer{

text-align:center;

padding:20px;

background:#020617;

}




@media(max-width:768px){


.hero{

flex-direction:column;

text-align:center;

}


.hero-text{

width:100%;

}



nav ul{

position:absolute;

top:70px;

left:-100%;

background:#020617;

width:100%;

flex-direction:column;

text-align:center;

padding:20px;

}


nav ul.active{

left:0;

}



.hamburger{

display:block;

}


.skills,
.timeline,
.projects{

flex-direction:column;

grid-template-columns:1fr;

}



}